a{text-decoration:none;color:#000}
body{font-family:tahoma}
.container{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}
@media (min-width:576px){.container{max-width:540px}}
#lang-box{position:fixed;top:0;left:0;bottom:0;right:0;width:100%;height:100%;background:#ecf0f1;display:flex;flex-direction:column;justify-content:center;z-index:10000}
#lang-box .lang-title{height:60px;line-height:60px;text-align:center}
#lang-box a{display:block;background:#fff;border-radius:20px;margin-bottom:15px;box-shadow:0 5px 15px -5px rgba(0,0,0,0.1);text-align:center;height:50px;line-height:50px;padding:0}
#lang-box a:last-child{margin-bottom:0}